@model Cocktails07.Models.CocktailSumary

@{
    ViewBag.Title = "Find";
}
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript">
    //$(function () {
    //    var mCocktailId = "";
    //    mCocktailId = $('#Cocktails option:selected').val();
    //    var myGetit = new GetACock(mCocktailId);
    //    myGetit.GetIt;
    //    $('#Cocktails').change(function () {
    //        mCocktailId = $('#Cocktails option:selected').val();
    //        var myGetit = new GetACock(mCocktailId);
    //        myGetit.GetIt;
    //     });
    //});
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetCocktails")',
            focus: function (event, ui) {
                // prevent autocomplete from updating the textbox
                event.preventDefault();
                // manually update the textbox
                $(this).val(ui.item.label);
            },
            select: function (event, ui) {
                // WHERE IS THE NAME ?
                // should it be ---> ui.label
                // prevent autocomplete from updating the textbox
                event.preventDefault();
                // manually update the textbox and hidden field
                $(this).val(ui.item.label);

                mCocktailId = ui.item.value;
                var myGetit = new GetACock(mCocktailId);
                myGetit.myGetit;
            }
        });
    });

</script>
<h1>Search a cocktail</h1>
@using (@Html.BeginForm())
{
    <b>Cocktail Name:</b>
    @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
    @*<input type="submit" value="Search" />*@

}

@*<div class="display-field">
             @Html.DropDownList("Cocktails")
    </div>*@
<div id="CockDescription"></div>
@*<div id="CockDescription" style="position:absolute; top:110px;left:650px;"></div>
    <div id="CockDescription" style="position:absolute; top:250px;left:400px;"></div>*@