<head title="Proffesional Vs Regular Edition">
    <style type="text/css">
        .Table {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }

        .Title {
            display: table-caption;
            text-align: center;
            font-weight: bold;
            font-size: larger;
        }


        .Row {
            display: table-row;
        }

        .Cell {
            display: table-cell;
            /*border: solid;*/
            border: solid;
            border-width: thin;
            padding-left: 1px;
            padding-right: 1px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

@*<div id="centerdiv">
        <h2>Regular Vs Professional Edition</h2>
    </div>*@
<div class="Table">
    <div class="Row">
        <div class="Cell"><img src="~/Images/IMG_NoProffesional1.png" alt="No Proffesional Cocktail" style="width:262px;height:180px;" /></div>
    </div>
    @*<div class="Cell"><img src="~/Images/CompareProffesionalEdition.png" alt="Compare Editions" /></div>*@
    <div class="Row">
        <div class="Cell"><img src="~/Images/IMG_Proffesional1.png" alt="Proffesional Cocktail" style="width:262px;height:241px;" /></div>
    </div>
    <div class="Row">
        <div class="Cell"><img src="~/Images/IMG_NoProffesional2.png" alt="No Proffesional Ingredient" style="width:262px;height:149px;" /></div>
    </div>

    @*<div class="Cell"><img src="~/Images/CompareProffesionalEdition1.png" alt="Compare Editions" /></div>*@
    <div class="Row">
        <div class="Cell"><img src="~/Images/IMG_Proffesional2.png" alt="Proffesional Ingredient" style="width:262px;height:388px;" /></div>
    </div>
</div>
